page-welcomuser {
    .titulo{
        align-content: center;
        content: center;
        
    }
    .icon {
         float: right;
         font-size: 30px; 
     }
     .profil_slide{
margin-top:0.5cm;
height: 5cm;

     }
     oferta_slide{
         
margin-bottom:0 !important;
height: 2cm;
     }
     .zisephoto{
height: 4cm;

align-content: center;
align-items: center;

     }
}

