page-foodandcrink {
    .listoffert{
        
                line-height: 500px;
               
            }
            .titulo{
                align-content: center;
                content: center;
                
            }
            .icon{
                float: right;
                font-size: 30px; 
            }
}
